# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and debug files
*.log
logs/

# Output directories (e.g., runs with data and plots)
runs/

# Data files
data/*.fasta
data/vocab.json

# System-specific files
.DS_Store
Thumbs.db

# Configurations specific to IDEs
.vscode/
.idea/
*.swp
*.swo

# Python package files
*.egg-info/
*.egg
dist/
build/

# Temporary files
*.bak
*.tmp
*.old
